
/* style de l'ipmage de banner  */
.banner .banner-image{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/* style du contenu de banner */
.banner .banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

/* titre de la banner */
.banner .banner-content h1{
    font-size: 4rem;
    margin-bottom: 20px;
}


/* texte de la banner */
.banner .banner-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* button de la banner */
.banner .banner-content button{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.banner .banner-content button:hover{
    background-color: #e74c3c;
}

@media (max-width: 768px) {
    .banner .banner-content h1{
        font-size: 2.5rem;
    }

    .banner .banner-content p{
        font-size: 1rem;
    }

    .banner .banner-content button{
        font-size: 1rem;
        padding: 8px 16px;
    }
}

