

.article-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.article-container h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.article-container .article-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    max-width: 1500px;
    /* gap: 2rem; */
}

@media (max-width: 1024px){
    .article-container .article-grid{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1.5rem;
        max-width: 1000px;
    }
}

@media (max-width: 800px){
    .article-container{
        padding: 20px;
    }

    .article-container h2{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .article-container .article-grid{
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        max-width: 700px;
        gap: 1rem;
    }

}





