

nav{
    background-color: #333;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 45px 25px;
}

nav h1{
    font-size: 24px;
    flex: 1;
}

nav .nav-links{
    display: flex;
    list-style: none;
}

nav .nav-links li{
    margin: 0 18px;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: #ff6347;
}

nav .log-connect{
    display: flex;
    align-items: center;
}

nav .log-connect .login, nav .log-connect .signup{
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav .nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 3;
}


nav .log-connect .user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: none;
}


nav .menu-switch{
    display: none;
}





@media (max-width: 768px) {
    nav {
        height: auto;
        padding: 20px;
    }

    nav .menu-switch{
        display: block;
        cursor: pointer;
        font-size: 24px;
        margin-bottom: 10px;
    }

    nav .nav-items{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        width: 100%;
    }

    nav .nav-items .nav-links, nav .log-connect{
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .nav-items.active {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 20px 0;
        width: 100%;
        z-index: 20;
    }
}



